# robodoc.rc for Aby
#
items:
    SOURCE
    NAME
    COPYRIGHT
    SYNOPSIS
    USAGE
    FUNCTION
    DESCRIPTION
    PURPOSE
    AUTHOR
    CREATION DATE
    CREATED
    DATE
    MODIFICATION HISTORY
    HISTORY
    INPUTS
    INPUT
    ARGUMENTS
    OPTIONAL ARGUMENTS
    OPTIONS
    PARAMETERS
    SWITCHES
    OUTPUT
    SIDE EFFECTS
    RESULTS
    RESULT
    RETURN VALUE
    EXAMPLE
    NOTE
    NOTES
    DIAGNOSTICS
    WARNINGS
    ERRORS
    BUGS
    TODO
    IDEAS
    PORTABILITY
    SEE ALSO
    METHODS
    NEW METHODS
    ATTRIBUTES
    NEW ATTRIBUTES
    TAGS
    COMMANDS
    DERIVED FROM
    DERIVED BY
    USES
    CHILDREN
    USED BY
    PARENTS
ignore items:
    HISTORY
source items:
    SYNOPSIS
    EXAMPLE
options:
    --src src
    --doc doc
    --multidoc
    --html
    --index
    --tell
headertypes:
    J  "Projects"          robo_projects    2
    F  "Files"             robo_files       1
    e  "Makefile Entries"  robo_mk_entries
    x  "System Tests"      robo_syst_tests
    q  Queries             robo_queries
ignore files:
    README
    CVS
    *.bak
    *~
    "a test_*"
accept files:
    *.lsp
    *.el
    *.lisp
    *.py
header markers:
    ****
    ;;; ****
    ; ****
remark markers:
    ;;;
    #|
    |#
    [
    ]
end markers:
    ;;; ****
source line comments:
    ; 
    ;; 
    ;;;
    #|
    [